/* Fonts imports */
@import url(https://fonts.bunny.net/css?family=amaranth:700);
@import url(https://fonts.bunny.net/css?family=averia-sans-libre:700);
@import url(https://fonts.bunny.net/css?family=asap:500);

/* Global sets */
:root {
    font-size: 16px;
    --intense_red: #BA191B;
    --light_red: #E5383B;
    --black: #161A1D;
    --white: #F5ECE4;
}

/* Global resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Actual styling now */
body {
    background-color: var(--black);
}

#wrapper {
    position: relative;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    overflow-x: hidden;
}

/* Boxes styling */
#hero {
    margin-top: 5rem;
}

#hobbies {
    margin-top: 3rem;
}

.collection {
    position: relative;

    max-width: 80%;
    height: auto;
}

.hobby {
    position: relative;

    margin-bottom: 5rem;

    padding: .5rem 1rem;
    border-radius: 1rem;

    background-color: var(--light_red);
}

.hobby::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    border-radius: 1rem;

    background-color: var(--intense_red);

    transform: scaleX(105%) scaleY(120%);
}

/* Individual, text styling */
#title {
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
    font-size: 3rem;

    color: var(--white);

    text-shadow: var(--intense_red) 0px -5px 2px;
}

.hobby_title {
    font-family: 'Averia Sans Libre', sans-serif;
    font-weight: 700;
    font-size: 2rem;

    color: var(--white);

    margin-bottom: 1rem;
}


.hobby_description_line {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;

    color: var(--white);

    margin-bottom: 1rem;

    overflow-wrap: break-word;
}
