/* Fonts imports */
@import url(https://fonts.bunny.net/css?family=amaranth:700);
@import url(https://fonts.bunny.net/css?family=averia-sans-libre:700);
@import url(https://fonts.bunny.net/css?family=asap:500);

/* Global sets */
:root {
    font-size: 16px;

    --white: #F5ECE4;
    --dark_white: hsl(0, 0%, 40%, 1);
    --dark_red: hsla(355, 100%, 10%, 1);
    --light_red: hsla(350, 100%, 15%, 1);
    --intense_red: red;
    --dark_blue: hsla(220, 100%, 1.5%, 1);
    --selection: hsla(220, 100%, 5%, 1);
}

body {
    background-color: var(--dark_blue);
    overflow-x: hidden;
}

/* Global resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: grab;
}

*::selection {
    background-color: var(--selection);
}

/* Actual styling now */
/* Boxes */
#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#hero {
    margin-top: 15rem;
}

#contact_container {
    margin-top: 3rem;
}

.container {
    position: relative;
    width: 80%;
    height: auto;
}

.contact_box {
    position: relative;
    width: 50%;
    height: auto;

    background-color: var(--dark_red);

    margin-bottom: 4rem;
    padding: 1rem;

    border-radius: .4rem;
}

.contact_details {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    width: 100%;
    height: auto;

}

/* Text */
#title {
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: var(--white);

    text-shadow: var(--intense_red) -4px 0px 2px;
    overflow-wrap: break-word;
}

.contact_title {
    font-family: 'Averia Sans Libre', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--white);

    overflow-wrap: break-word;
}

.contact_detail_title {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--white);
    flex-basis: 40%;

    overflow-wrap: break-word;
}

.contact_detail_value {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--white);
    flex-basis: 60%;

    background-color: var(--light_red);
    padding: .5rem;
    border-radius: 1rem 0 0 1rem;

    overflow-wrap: anywhere;
}

.contact_link {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--dark_white);
}
