/* Font imports */
@import url(https://fonts.bunny.net/css?family=angkor:400);
@import url(https://fonts.bunny.net/css?family=abril-fatface:400);

/* Initializing variables */
:root
{
    --main: hsla(355, 100%, 10%, 1);
    --dark: hsla(220, 100%, 1.5%, 1);
    --bright_main: hsla(350, 100%, 15%, 1);
    --accent: red;
    --selection: hsla(350, 100%, 10%, 0.4);
}

/* Global Reset & Settings */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: grab;
}

body
{
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);
}

/* Actual stuff */
#page_title
{
    position: absolute;
    top: 15%;
    color: white;
    font-family: "Angkor", sans-serif;
    text-shadow: var(--accent) 0px 5px 1px;
    font-size: 5rem;
}

#page_title::selection
{
    background-color: var(--selection);
}

#deck
{
    width: 100vw;
    height: 100vh;
    background-color: var(--dark);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card
{
    min-width: 300px;
    height: 300px;
    margin: 0 3rem 0 3rem;

    background-color: var(--main);

    border-radius: 5%;

    position: relative;

    transition: margin ease-in-out .1s, transform ease-in-out .3s;

    text-align: center;
}

.card:hover
{
    margin: 0 6rem 0 6rem;
    background-color: var(--bright_main);
    transform: translateY(-10%);
}

.card::after
{
    width: 100%;
    height: 100%;
    background-color: var(--main);
    border-radius: 5%;

    content: "";

    position: absolute;
    top: 0;
    left: 0;

    transition: transform ease-in-out .1s;
}

.card:hover::after
{
    transform: scale(120%, 120%) translateY(25%);
}

.card_text
{
    color: white;
    font-family: "Abril Fatface", sans-serif;
    margin-top: .5rem;
    font-size: 2.2rem;
}

.card_text::selection
{
    background-color: var(--selection);
}

.card img
{
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    z-index: 1;
    filter: invert(100%);
    transition: transform ease-in-out .2s;
}

.card:hover img
{
    transform: translateY(60%) rotateX(180deg);
}
