/* Fonts imports */
@import url(https://fonts.bunny.net/css?family=amaranth:700);
@import url(https://fonts.bunny.net/css?family=averia-sans-libre:700);
@import url(https://fonts.bunny.net/css?family=asap:500);

/* Global sets */
:root {
    font-size: 16px;

    --white: #F5ECE4;
    --dark_white: hsl(0, 0%, 40%, 1);
    --light_red: hsla(350, 100%, 15%, 1);
    --intense_red: red;
    --dark_blue: hsla(220, 100%, 1.5%, 1);
    --light_blue: hsla(220, 100%, 15%, 1);
    --selection: hsla(220, 100%, 5%, 1);
}

body {
    background-color: var(--dark_blue);
    overflow-x: hidden;
}

/* Global resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: grab;
}

*::selection {
    background-color: var(--selection);
}

/* Actual styling now */
/* Boxes */
#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

#hero {
    margin-top: 5rem;
}

.container {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project_container {
    margin-top: 3rem;
}

.group {
    position: relative;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    position: relative;
    width: 60%;
    height: auto;
    
    margin-bottom: 3rem;
    padding: 1rem;

    background-color: var(--light_red);
    border-radius: 1rem;
}

/* Text */
#page_header {
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: var(--white);
    
    text-shadow: var(--intense_red) 0px 4px 2px;
    overflow-wrap: break-word;
}

.title {
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--white);

    overflow-wrap: break-word;
    margin-bottom: 2rem;

    background-color: var(--light_blue);
    border-radius: 1rem;
    padding: .8rem;
}

.project_title {
    font-family: 'Averia Sans Libre', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: var(--white);
    
    margin-bottom: 1rem;
    overflow-wrap: break-word;
}

.project_description {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: var(--white);

    margin-bottom: 1rem;
    overflow-wrap: break-word;
}

.project_link {
    font-family: 'Asap', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--dark_white);

    overflow-wrap: break-word;
}
